.center-button{
    transition: fill 500ms;
    fill: #9F9F9F;
}

.outer-circle, .outer-circle_white {
	transform-origin: 60px 60px;
	transition: transform 2s cubic-bezier(0.620, 0.005, 0.000, 1.005);
}
.outer-circle :first-child {
    stroke: #9F9F9F;
    stroke-width: 2;
}
.outer-circle_white :first-child {
    stroke: #fff;
    stroke-width: 2;
}
.outer-circle :nth-child(1n+2) {
    fill: #9f9f9f;
}
.outer-circle_white :nth-child(1n+2) {
    fill: #fff;
}

.menu_button {
	position: relative;
    width: 50px;
    height: 50px;
	background: none;
	border: 0 none;
	font-size: 0;
	cursor: pointer;
    z-index: 5;
}

svg {
	width: 100%;
	height: auto;
}
		
.menu_container:hover .outer-circle {
	transform: rotate(360deg);
}
.menu_container:hover .outer-circle_white {
	transform: rotate(360deg);
}

.menu_container:hover path {
    fill: var(--green);
}

.menu_container {
    padding: 0 0.75rem;
    z-index: 5;
}

.menu {
    position: fixed;
    float: left;
    height: 0;
    top: 61px;
    left: 0;
    padding-left: 1rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: #9f9f9f;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
    z-index: 1;
    transition: all 1s;
}

.menu_container:hover .menu {
    padding: 1rem;
    height: 17rem;
}

.menu li {
    max-height: 0;
    overflow: hidden;
    transition: all .2s;
    box-shadow: none;
}
.menu li::before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 2.5rem;
    width: 2px;
    background-color: #9F9F9F;
    margin-right: 15px;
}
.menu li:hover {
    color: var(--green);
    cursor: pointer;
}
.menu_container:hover .menu li {
    max-height: 3rem;
    margin: 1rem;
}